<div class="dwi-header">
  <label>Currently {{booksList.length}}</label>
  <input type="text"
         placeholder="Book Title"
         [(ngModel)]="newBookTitle">
  <button (click)="addNewBook()">Add Book</button>
</div>

<div class="dwi-list">
  <div *ngFor="let book of booksList">
    <div class="title">
      {{book.title}}
    </div>
    <div>
      <span class="author">{{book.author}}</span>
    </div>
    <button (click)="removeBook(book.bookId)">Remove Book</button>
  </div>
</div>

<div class="empty-message" *ngIf="booksList.length === 0">
  There are no books left
</div>
